:root {
  --color-general: #3fba96;
  --color-deep-blue: #212832;
  --color-deep-blue-text: #202246;
  --color-deep-blue-text-b: #212730;
  --color-gray: #b8b8b8;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: var(--color-deep-blue-text);
}

body {
  width: 100%;
  overflow-x: hidden;
  height: 100vh;
}

img {
  max-width: 100%;
}

/* homepage */
.homepage {
  display: flex;
  flex-direction: column;
  margin: 30px 50px;
}

.homepage nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .middle-nav-div a {
  padding: 0px 20px;
  color: var(--color-deep-blue-text);
  font-size: 16px;
  font-weight: 400;
  transition: all 0.3s;
}

nav .right-nav-div button {
  padding: 12px 46px;
  border: 1px solid var(--color-general);
  border-radius: 30px;
  background-color: var(--color-general);
  color: white;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
}

.homepage_hero {
  display: flex;
  align-items: center;
  margin-top: 5rem;
}

.homepage_hero_text {
  font-size: 60px;
  font-weight: 600;
  width: 750px;
}

.homepage_hero_text p {
  margin-bottom: 2px;
}

.homepage_hero_text p:first-child {
  color: var(--color-general);
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.homepage_hero_text .last {
  color: var(--color-deep-blue-text);
  font-size: 20px;
  font-weight: 100;
  line-height: 35px;
  margin-top: 2.5rem;
}

.header-form {
  display: flex;
  margin-top: 2rem;
  align-items: baseline;
}

.header-form img {
  width: 30px;
  position: absolute;
  vertical-align: middle;
  bottom: 3%;
  left: 1%;
}

.search-text {
  height: 60px;
  width: 70%;
  font-size: 18px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 45px;
  border-radius: 8px;
  border: 1px solid #cccccc;
}

.submit {
  height: 62px;
  width: 180px;
  border-radius: 5px;
  margin-left: -2%;
  color: white;
  font-size: 18px;
  font-weight: 400;
  background: var(--color-general);
}

/* job-section */
.job-section {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  justify-content: center;
  gap: 3rem;
}

.job-section .job-section-img {
  width: 600px;
}

.job-section .job-section-text h1 {
  font-size: 48px;
}

.job-section-text {
  margin-top: -1rem;
}

.job-section-text .p {
  width: 35vw;
  font-size: 20px;
  line-height: 2.1rem;
  margin-top: 2rem;
  font-weight: 400;
}

.job-section-text p {
  margin-bottom: 8px;
}

.job-section-text button {
  height: 62px;
  width: 200px;
  background-color: var(--color-general);
  color: white;
  font-size: 1.2rem;
  border-radius: 30px;
  margin-top: 2.3rem;
}

/* How-it-works */
.How-it-works {
  margin: 8rem 50px;
}

.center-text {
  text-align: center;
}

.center-text small {
  width: 23rem;
  display: inline-block;
}

.center-text h2 {
  font-size: 3rem;
  margin-bottom: 1.7rem;
}

small {
  font-size: 1.2rem;
  line-height: 2rem;
}

.flex {
  display: flex;
  margin-top: 2rem;
}

.card {
  display: flex;
  gap: 1.2rem;
  padding: 30px;
  border-radius: 15px;
  width: 85%;
  margin-bottom: 2rem;
  transition: all 1.3s;
}

.card:hover {
  box-shadow: none;
  cursor: pointer;
}

.card-icon span {
  color: var(--color-general);
  background-color: #b8b8b847;
  padding: 2px 3px;
  border-radius: 5px;
}

h3 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.first-card {
  margin-bottom: 1rem;
  box-shadow: 50px -14px 80px 1px rgba(115, 137, 149, 0.52);
}

.second-card {
  box-shadow: 15px 2px 27px 1px rgba(115, 137, 149, 0.52);
}

.third-card {
  box-shadow: 15px 4px 27px 5px rgba(115, 137, 149, 0.52);
}

.center-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
}

.Our-popular-courses h2 {
  font-size: 45px;
  margin-bottom: 2.1rem;
}

.Our-popular-courses p {
  font-size: 1.3rem;
  margin-bottom: 4rem;
}

.Our-popular-courses {
  width: 26rem;
  text-align: center;
}

.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.card {
  border-radius: 20px;
  border: 1px solid gainsboro;
  background-color: #FFF;
}

.image-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-content .card-image img {
  border-radius: 8px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 10px 0;
}

.card-content .rating {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.rating img {
  width: 100px;
  object-fit: contain;
}

.card-content .students {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.card-content .students>span,
.students-count {
  color: #7f7a7a;
}

.card-content .students>span,
.students-count:hover {
  color: black;
}

.price {
  color: #0a908a;
}

.name {
  margin: 1rem 0px;
  font-size: 1.2rem;
}

.card-content .students span {
  margin-right: 0.5rem;
}

.swiper-navBtn {
  color: #0a908a;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: #0a908a;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: #0a908a;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #0a908a;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }

  .swiper-navBtn {
    display: none;
  }
}

.do-you-have-any-query {
  width: 100%;
  margin: 3rem 0px;
}

.container-grid {
  display: grid;
  grid-template-columns: 30rem 40rem 15rem;
}

.grid-bg {
  position: relative;
  right: 10rem;
  left: -9.3rem;
  top: -4rem;
}

.container-grid .grid-image>img {
  width: 115%;
}

.grid-bg img {
  position: absolute;
  z-index: -1;
}

.container-grid .grid-form .header-form {
  display: flex;
  flex-direction: column;
}

.container-grid .grid-form .header-form h1 {
  font-size: 45px;
  margin-top: 5rem;
}

.container-grid .grid-form .header-form p {
  font-size: 1.32em;
  margin: 1.3rem 0px;
  color: var(--color-deep-blue);
}

.flex-div {
  display: flex;
}

.flex-div .search-text {
  margin-right: 0rem;
  margin-left: -1.8rem;
  width: 22em;
}

.flex-div .search-icon {
  position: relative;
  vertical-align: middle;
  bottom: 3%;
  left: 1.8%;
  object-fit: contain;
}

/* footer */

.footer {
  background: var(--color-deep-blue);
  padding: 5rem 2rem;
  width: 100%;
}

.footer .footer-grid {
  display: grid;
  align-items: baseline;
  grid-auto-columns: 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-columns: 2.5fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  vertical-align: top;

}

.footer .footer-grid .grid-1 .logo-white {
  width: 10rem;
  object-fit: contain;
}

.footer .footer-grid .grid-1>p {
  font-size: 21px;
  line-height: 32px;
  padding: 18px 0px;
  color: whitesmoke;
}

.social-media-icons {
  padding: 1px 0px;
}

.social-media-icons .fa-brands {
  font-size: 2em;
  padding-right: 15px;
  object-fit: contain;
  cursor: pointer;
}

.social-media-icons .fa-twitter {
  color: #1DA1F2;
}

.social-media-icons .fa-facebook-f {
  color: #4267B2;
}

.social-media-icons .instagram {
  width: 1.25em;
}

.social-media-icons .fa-linkedin {
  color: #0077b5;
}

.heading {
  color: whitesmoke;
  font-size: 20px;
  margin-bottom: 25px;
}

.footer-link {
  color: #b8b8b8;
  margin-bottom: 20px;
  transition: all 1s ease;
}

.footer-link:hover {
  color: #777e90;
  cursor: pointer;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background: var(--color-deep-blue);
}

.footer-bottom .bottom-left,
.bottom-right {
  display: flex;
  align-items: baseline;
  font-size: 1.3rem;
}

.footer-bottom .bottom-left .fa-copyright {
  padding-right: 10px;
}

.footer-bottom .bottom-left p,
.fa-copyright,
.bottom-right p {
  color: #b8b8b8;
}

.footer-bottom .bottom-left p,
.fa-copyright,
.bottom-right p:hover {
  color: #777e90;
  cursor: pointer;
}